<%- include('layouts/outer-header') %>
<div id="landing">
  <section>

	<p>
		Auf unserem digitalen Whiteboard kannst du mit gemeinsam mit anderen Ideen 
		sammeln und diese um Formen, Zeichnungen und multimediale Inhalte kreativ 
		ergänzen. 
	</p>
	<p>
		Um die Anwendung verwenden zu können, musst du dich <a href="/signup">registrieren</a>. Wende dich 
		dazu bitte an <a href="mailto:tim.krieger@nlq.niedersachsen.de">Tim</a>. Möchtest du zuerst einmal schauen? Dann besuche unseren 
		<a href="https://space.kits.blog/s/b12dc3e-Oeffentlicher-Space">öffentlichen Space</a>.
	</p>
  </section>
</div>
<%- include('layouts/outer-footer') %>
