<%- include('layouts/outer-header') %>
<div id="landing">
  <section>
    <p>
      Ein Highlight unseres digitalen Whiteboards ist der Multimedia-Support: Lade Bilder, Sound oder Videos auf dein Board und nutze es so als kreative Ideensammlung oder kollaborativen Wissensspeicher.
    </p>
    <p>
    Um die Anwendung verwenden zu können, musst du dich <a href="/signup">registrieren</a>. Möchtest du zuerst einmal schauen? Dann besuche den <a href="https://space.kits.blog/s/b12dc3e-Oeffentlicher-Space">öffentlichen Space</a>.
    </p>
  </section>
</div>
<%- include('layouts/outer-footer') %>
