<%- include('layouts/outer-header') %>
<div id="landing">
  <section>

	<p>
		<img src="/images/sd6-logo-black.svg" width="230" style="margin-bottom: 30px;"><br>
		Auf unserem digi&shy;talen White&shy;board kannst du gemein&shy;sam mit 
		anderen Ideen sam&shy;meln und diese um Formen, Zeich&shy;nungen und 
		multi&shy;mediale Inhalte kreativ ergänzen.
	</p>
	<p>
		Um die Anwen&shy;dung verwen&shy;den zu können, musst du dich 
		<a href="/signup">regis&shy;trieren</a>. Wende dich dazu bitte an <a href="mailto:tim.krieger@nlq.niedersachsen.de">Tim</a>. Möchtest du zuerst einmal 
		schauen? Dann besuche unseren <a href="https://space.kits.blog/s/b12dc3e-Oeffentlicher-Space">öffent&shy;lichen Space</a>.
	</p>
  </section>
</div>
<%- include('layouts/outer-footer') %>
